<ion-view hide-nav-bar="true" id="me">
    <ion-content>
        <div ng-click="run()">
            <a ui-sref="login" ng-hide="tog.que1"><img src="views/me/images/person-login.png" style="width: 100%" /></a>
            <img id="im-two" src="views/me/images/login_03.png" style="width: 100%" ng-show="tog.que1">
        </div>
            <div class="row">
                <div class="col col-33">
                    <div class="col-demo"><span>0&nbsp;</span>关注</div>
                </div>
                <div class="col col-33">
                    <div class="col-demo"><span>0&nbsp;</span>粉丝</div>
                </div>
                <div class="col col-33">
                    <div class="col-demo"><span>0&nbsp;</span>菜谱</div>
                </div>
            </div>
        <div class="list">
            <a class="item item-icon-left assertive">
                <i class="icon ion-medkit"></i>
                <h2>积分商城</h2>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left assertive">
                <i class="icon ion-android-volume-up"></i>
                <h2>消息通知</h2>
            </a>
        </div>

        <div class="list ">
            <a class="item item-icon-left assertive">
                <i class="icon ion-android-expand"></i>
                <h2>我的发布</h2>
            </a>

            <a class="item item-icon-left assertive">
                <i class="icon ion-ios-pricetags-outline"></i>
                <h2>我的收藏</h2>
            </a>

            <a class="item item-icon-left assertive">
                <i class="icon ion-android-textsms"></i>
                <h2>我的订单</h2>
            </a>

            <a class="item item-icon-left assertive">
                <i class="icon ion-ios-photos-outline"></i>
                <h2>买菜清单</h2>
            </a>
        </div>

        <div class="list">
            <a class="item item-icon-left assertive">
                <i class="icon ion-ios-reverse-camera-outline"></i>
                <h2>我的订单</h2>
            </a>

        </div>

        <div class="list">
            <a class="item item-icon-left assertive">
                <i class="icon ion-ios-people-outline"></i>
                <h2>买菜清单</h2>
            </a>
        </div>

        <div class="list">
            <a class="item item-icon-left assertive">
            <i class="icon ion-ios-bell-outline"></i>
                <h2>草稿箱</h2>
            </a>
            <a class="item item-icon-left assertive">
                <i class="icon ion-ios-paw"></i>
                <h2>离线包</h2>
            </a>
            <a class="item item-icon-left assertive">
                <i class="icon ion-social-twitch-outline"></i>
                <h2>设置</h2>
            </a>
        </div>
    </ion-content>
</ion-view>