<ion-view hide-nav-bar="true" class="subject">
    <ion-content>
        <div class="list list_item" ui-sref="subjectIn">
            <div class="item item-image">
                <img class="img1" src="images/subject_img1.jpg">
                <img class="head_tx" src="images/subject_tx1.jpg">
                <h2>刘洋 美食杰</h2>
                <p>人气街边小吃</p>
            </div>
        </div>
        <div class="list list_item" ui-sref="subjectIn_2">
            <div class="item item-image">
                <img class="img1" src="images/subject_img2.jpg">
                <img class="head_tx" src="images/subject_tx2.jpg">
                <h2>王莎 美食杰</h2>
                <p>米饭杀手·红烧菜</p>
            </div>
        </div>
        <div class="list list_item">
            <div class="item item-image">
                <img class="img1" src="images/subject_img3.jpg">
                <img class="head_tx" src="images/subject_tx3.jpg">
                <h2>林美蜓 美食杰</h2>
                <p>酸奶|颜值不够水果来凑</p>
            </div>
        </div>
    </ion-content>
</ion-view>