<ion-view view-title="欢迎进入美食show" class="tourPage">
    <ion-content>
        <ion-slide-box auto-play="true" slide-interval="2000" does-continue="true" on-slide-changed="onSlideChanged()">
            <ion-slide>
                <div class="slidePic"><img src="images/hao2_02.png"></div>
            </ion-slide>
            <ion-slide>
                <div class="slidePic"><img src="images/suansuan.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="slidePic joinIn">
                    <img src="images/shashou.jpg">
                    <a ui-sref="tabs.home" ng-if="isShow">点击进入主页面</a>
                </div>
            </ion-slide>
        </ion-slide-box>
        <!--<div class="joinIn"><a ui-sref="tabs.home" ng-if="isShow">点击进入</a></div>-->
    </ion-content>
</ion-view>