<ion-view hide-nav-bar="true" style="z-index: 999">
    <ion-tabs class="tabs-top tabs-striped">
        <ion-tab title="热门" ui-sref="tabs.find.hot">
            <ion-nav-view name="tab-hot"></ion-nav-view>
        </ion-tab>
        <ion-tab title="专题" ui-sref="tabs.find.subject">
            <ion-nav-view name="tab-subject"></ion-nav-view>
        </ion-tab>
        <ion-tab title="文章" ui-sref="tabs.find.article">
            <ion-nav-view name="tab-article"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>