<ion-view hide-nav-bar="true" class="articleIn">
    <ion-header-bar class="header_h">
        <a ui-sref="tabs.find.article"><i class="icon ion-chevron-left"></i></a>
    </ion-header-bar>
    <ion-content>
        <div class="articleIn_top">
            <h2>花蛤怎么选购和清洗?</h2>
            <img src="images/articleIn_img1.jpg"><br>
            <span>美食show小编</span>
        </div>
        <div class="content-text">
            <p>原标题：花蛤味道鲜美营养价值高 怎么选购和清洗?</p>
            <p>花蛤，这种海产品在选购和清洗上都要多注意一些细节和方法，这样我我们才能吃到放心的花蛤。在这里，要为大家介绍的就是花蛤的选购和清洗方法，让你吃到最优质的花蛤，快来一起学两招吧</p>
            <img src="images/articleIn_img2.jpg">
            <p>花蛤的营养价值</p>
            <p>肉味鲜美、营养丰富，蛋白质含量高，氨基酸的种类组成及配比合理;脂肪含量低，不饱和脂肪酸较高，易被人体消化吸收，还有各种维生素和药用成分。含钙、镁、铁、锌等多种人体必需的微量元素，可作为人类的营养、绿色食品，深受消费者的青睐。蛤肉以及贝类软体动物中，含一种具有降低血清胆固醇作用的代尔太7-胆固醇和24-亚甲基胆固醇，它们兼有抑制胆固醇在肝脏合成和加速排泄胆固醇的独特作用，从而使体内胆固醇下降。它们的功效比常用的降胆固醇的药物谷固醇更强</p>
            <p>中医认为，蛤肉有滋阴明目、软坚、化痰之功效，有的贝类还有益精润脏的作用。所有人都可以吃。高胆固醇、高血脂体质的人以及患有甲状腺肿大、支气管炎、胃病等疾病的人尤为适合</p>
            <p>与此同时，花蛤要如何选购和清洗呢?</p>
            <p>花蛤的选购方法</p>
            <p>选择张嘴换气的花蛤。买花蛤要选择张嘴换气的，这样的活花蛤吃起来更鲜美，而且尽量选择全身舒展的，吐沙比较均匀一些</p>
            <p>不要选张开壳的。有些花蛤已经张开壳了，说明花蛤已经死亡，这样的花蛤炒熟后有股腥臭味，影响口感。因此在挑选时要特别注意</p>
            <p>超市的花蛤比摊贩的好一些。小购买花蛤后对比，发现虽然超市里的比摊贩卖的贵一些，但是吃起来没有异味，主要是超市里用盐水，而且不断供氧，处理较好，摊贩上的花蛤时间较长，死亡的很多</p>
            <p>选择大一些的花蛤。大花蛤肉多，吃起来更有味道。因此尽量挑选大一些的</p>
            <p>花蛤的清洗方法</p>
            <p>温盐水泡：首先，将花蛤放入一盆温水中，并在温水中加入盐巴和油，用量根据盆里的水来定。这样的做法可以模仿花蛤的生长环境，从而使其张开贝壳有利吐沙。而放入油的作用是使水面形成一层油膜，能够将水与空气分隔开来，让花蛤在水中缺氧而加快呼吸，从而加快吐沙进度。然后，静置两到三个小时以后，我们就会看到多数花蛤都把贝壳张开，而且水浑浊不清，这时候花蛤去吐沙过程就完成了。如果想缩短吐沙时间，我们可以用手来回搅动盆内的水，并且反复换水，这样几分钟就可以让花蛤吐尽泥沙了</p>
            <p>水煮冲洗：如果你认为第一种方法太耗费时间，那么我们就来学习一种快速去除泥沙的方法。首先，将锅内倒满水，放入花蛤用水煮。当锅内的水开了的时候，花蛤的壳基本也全部打开，这时候将水倒掉，再用水将花蛤冲洗一次就可以将泥沙清理干净。但是这样的做法容易影响花蛤的鲜味，我们可以将煮过花蛤的水晾凉了滤去底部沉积的泥沙，用上面澄清的汤水来洗花蛤，这样可以保留部分鲜味</p>
            <p>花蛤购买后，一定要彻底清洗干净哦</p>
            <p>来源：家庭医生在线</p>
        </div>
    </ion-content>
</ion-view>