<ion-view hide-nav-bar="true" class="article">
    <ion-content>
        <ion-slide-box auto-play="true" slide-interval="2000" does-continue="true" class="tabs_img">
            <ion-slide class="box"><img src="images/article_img1.jpg"></ion-slide>
            <ion-slide class="box"><img src="images/article_img2.jpg"></ion-slide>
            <ion-slide class="box"><img src="images/article_img3.jpg"></ion-slide>
            <ion-slide class="box"><img src="images/article_img4.jpg"></ion-slide>
        </ion-slide-box>
        <ul class="list list_item">
            <li style="border-top:none;" class="item item-thumbnail-left" ui-sref="articleIn">
                <img src="images/article_img5.jpg">
                <h2>花蛤怎么选购和清洗?</h2>
                <p>原标题：花蛤味道鲜美营养价值高怎么<br>选购和清洗?花蛤，这种海产...</p>
            </li>
            <li style="border-top:none;" class="item item-thumbnail-left">
                <img src="images/article_img6.jpg">
                <h2>“五常大米”真假难辨</h2>
                <p>原标题：名企碰瓷五常大米真假难辨上<br>了《舌尖上的中国》的五常大...</p>
            </li>
            <li style="border-top:none;" class="item item-thumbnail-left">
                <img src="images/article_img7.jpg">
                <h2>洋快餐被呼吁停用含抗生素食材</h2>
                <p>英国一家慈善机构近日发起一场电邮运<br>动，以向麦当劳CEOSteveEast...</p>
            </li>
        </ul>
    </ion-content>
</ion-view>