<ion-view hide-nav-bar="true" class="hot">
    <ion-content>
        <div class="title"><i class="icon ion-clipboard icon-left assertive"></i> 热门的精美菜谱</div>
        <ul class="list list_item">
            <li class="item item-avatar">
                <img src="images/hot_tx.png">
                <h2>微在涨知识</h2>
                <p>2016-08-02</p>
            </li>
            <li class="item item-body">
                <img class="full-image" src="images/hot_img1.jpg">
                <p>秒杀芒果干的4道芒果料理</p>
            </li>
        </ul>
        <ul class="list list_item">
            <li class="item item-avatar">
                <img src="images/hot_tx.png">
                <h2>微在涨知识</h2>
                <p>2016-08-02</p>
            </li>
            <li class="item item-body">
                <img class="full-image" src="images/hot_img1.jpg">
                <p>秒杀芒果干的4道芒果料理</p>
            </li>
        </ul>
        <ul class="list list_item">
            <li class="item item-avatar">
                <img src="images/hot_tx.png">
                <h2>微在涨知识</h2>
                <p>2016-08-02</p>
            </li>
            <li class="item item-body">
                <img class="full-image" src="images/hot_img1.jpg">
                <p>秒杀芒果干的4道芒果料理</p>
            </li>
        </ul>
    </ion-content>
</ion-view>