<ion-view hide-nav-bar="true" class="subjectIn">
    <ion-header-bar class="header_h">
        <a ui-sref="tabs.find.subject"><i class="icon ion-chevron-left"></i></a>
    </ion-header-bar>
    <ion-content>
        <ul class="img">
            <li><img src="images/subjectIn_img1.jpg"></li>
            <li><img src="images/subjectIn_img2.jpg"></li>
            <li><img src="images/subjectIn_img3.jpg"></li>
            <li><img src="images/subjectIn_img4.jpg"></li>
            <li><img src="images/subjectIn_img5.jpg"></li>
            <li><img src="images/subjectIn_img6.jpg"></li>
            <li><img src="images/subjectIn_img7.jpg"></li>
            <li><img src="images/subjectIn_img8.jpg"></li>
        </ul>
    </ion-content>
</ion-view>